body {
  /* background-color: #e2f0f7b8; */
  background-color: #efefef;
}

.page-home .navbar.floating {
  top: 0;
  background-color: #051923;
}

.navbar-nav .nav-item.active a.nav-link {
  color: #006494;
  font-weight: bolder;
}

.social-header a {
  text-decoration: none;
  color: #006494;
  padding-right: 10px;
}

.social-header a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.699);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}


.wpform-input input,
textarea {
  box-sizing: border-box !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #93B4B1 !important;
  background-clip: padding-box !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 6px !important;
  border: 2px solid #3A4032 !important;
  font-weight: 500 !important;
}

#wpforms-submit-94 {
  margin: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0e0f10;
  border-color: #0f0f0f;
  border-radius: 0.25rem !important;
  cursor: pointer;
}

#wpforms-submit-94:hover {
  color: #faf7f7;
  background-color: #5E837B;
  border-color: #3A4032;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.blog-wrapper {
  padding: 30px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  transition: 0.3s;
}

.blog-inner {
  overflow: hidden;
}

.tag-blog>a {
  font-size: 14px;
  color: #333;
  line-height: 1;
  padding: 6px 20px;
  border-radius: 30px;
  background-color: #fbba42;
  display: inline-block;
  font-weight: bold;
}

.blog-inner h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.blog-inner p {
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 30px;
}

.blog-meta {
  border-top: 1px solid #e0e0e0;
  padding-top: 25px;
}

.blog-meta span {
  color: #646464;
  font-size: 12px;
}

.blog-meta span a {
  color: #333;
  font-size: 11px;
}

.blog-more {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  color: #3b3f42;
  text-transform: uppercase;
}

.blog-more-btn {
  transform: translateX(96px);
  transition: 0.3s;
}

.blog-wrapper:hover .blog-more-btn {
  transform: translateX(0px);
}

.custom-row {
  margin: 0 -15px;
}

.dot-style .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -60px;
}

.dot-style .slick-dots>li {
  display: inline-block;
  margin: 0 5px;
  line-height: 0;
}

.dot-style .slick-dots>li.slick-active button {
  background: #adadb0;
}

.dot-style .slick-dots button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #adadb0;
  text-indent: -10000px;
  padding: 0;
}

.btn, .btn:hover {
  border-width: 2px;
  border-color: #006494;
}

.btn:hover {
  background-color: #006494;
  color: #efefef;
}

.btn-link:hover {
  text-decoration: none;
}