body {
  /* background-color: #e2f0f7b8; */
  background-color: #efefef;
  font-family: 'Poppins', sans-serif;
}

.page-home .navbar.floating {
  top: 0;
  background-color: #051923;
}

.navbar-nav .nav-item.active a.nav-link {
  color: #006494;
  font-weight: bolder;
}

.social-header a {
  text-decoration: none;
  color: #006494;
  padding-right: 10px;
}

.social-header a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.699);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  cursor: pointer;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}


.wpform-input input,
textarea {
  color: #051923 !important;
  border-radius: 6px !important;
  border: 2px solid #006494 !important;
}

#wpforms-submit-94 {
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #006494;
  font-size: 16px;
  color: #006494;
  border-radius: 6px;
}

#wpforms-submit-94:hover {
  color: #faf7f7;
  background-color: #006494;
}

.f-left {
  float: left;
  color: #003554 !important;
  font-weight: 500;
}

.f-right {
  float: right;
}

.blog-wrapper {
  padding: 20px 30px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  transition: 0.3s;
}

.blog-inner {
  overflow: hidden;
}

.tag-blog>a {
  font-size: 14px;
  color: #333;
  line-height: 1;
  padding: 6px 20px;
  border-radius: 30px;
  background-color: #fbba42;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 15px;
}

.blog-inner h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

.blog-inner h4 a {
  color: #006494;
  text-decoration: none;
}

.blog-inner h4 a:hover {
  color: #003554;
}

.blog-inner p {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 200;
}

.blog-meta {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.blog-meta span {
  color: #646464;
  font-size: 12px;
}

.blog-meta span a {
  color: #006494;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.blog-meta span a:hover {
  color: #003554;
}

.blog-more {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  color: #3b3f42;
  text-transform: uppercase;
}

.blog-more-btn {
  transform: translateX(85%);
  transition: 0.3s;
}

.blog-wrapper:hover .blog-more-btn {
  transform: translateX(0px);
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blog-inner p {
  margin-bottom: 10px; /* Adjust the space between p element and blog-meta div */
}

.custom-row {
  margin: 0 -15px;
}

.dot-style .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -60px;
}

.dot-style .slick-dots>li {
  display: inline-block;
  margin: 0 5px;
  line-height: 0;
}

.dot-style .slick-dots>li.slick-active button {
  background: #006494;
}

.dot-style .slick-dots button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #006494;
  text-indent: -10000px;
  padding: 0;
}

.btn {
  color: #006494;
}

.btn, .btn:hover {
  border-width: 2px;
  border-color: #006494;
}

.btn:hover {
  background-color: #006494;
  color: #efefef;
}

.btn-link:hover {
  text-decoration: none;
}

.text-slider {
  font-weight: 400;
}

.section-alt {
  background-color: white;
}

.section-title {
  color: #051923;
}

.section-title span {
  color: #006494
}

.section-subtitle {
  color: #003554;
  font-weight: 700;
}

.about-text {
  font-weight: 200;
}

.footer-container {
  background-color: #051923;
}

.footer {
  color: rgba(255, 255, 255, 0.699);
  font-weight: 500;
}

.footer a {
  text-decoration: none;
  color: #006494;
  font-weight: 500;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.699);
}

.portfolio-video iframe {
  margin-bottom: 20px;
}

.portfolio-video h3 {
  color: #006494;
  font-size: 25px;
}

.portfolio-videos-carousel.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.portfolio-videos-carousel.dot-style .slick-dots {
  bottom: -30px;
}

.grayscale-image {
  filter: grayscale(100%)  sepia(100%) hue-rotate(180deg) brightness(0.8);
}

.service-card {
  background-color: transparent;
}

.service-card .body .title {
  color: #006494;
}

.service-card .body .subtitle {
  color: #051923;
  font-weight: 200;
}

.resume h2 {
  color: #006494;
  font-size: 28px;
}

.timeline::before {
  background-color: #006494;
}

.timeline li::before {
  background-color: #051923;
  border: 3px solid #006494;
}

.timeline li .title {
  width: fit-content;
  background-color: transparent;
  border: 1px solid #006494;
  color: #006494;
}

.timeline li .details {
  background-color: transparent;
}

.timeline li .details h5 {
  color: #051923;
}

.timeline li .details p {
  font-weight: 200;
  color: #051923;
}

.caption-header {
  color: #E2F0F7 !important;
  /* background-image: url('../images/triangle.svg'); */
  background-size: 32%;
  background-position: center 30%;
  background-repeat: no-repeat;
}

.hero-big-text {
  font-size: 8rem !important;
}

.typed-cursor {
  color: #eb4511;
  /* color: #006494; */
}

@media (max-width: 767px) {
  .hero-big-text {
    font-size: 5rem !important;
  }
}